<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.com">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog - v1.1.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="base.html:: navbar"></header>

  <main id="main">
    <section id="contact" class="contact mb-5">
      <div class="container" style="-webkit-box-shadow: 10px 5px 27px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 5px 27px 3px rgba(0,0,0,0.75);
box-shadow: 10px 5px 27px 3px rgba(0,0,0,0.75);"data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 text-center mb-2">
            <h2 class="page-title">Create Story</h2>
          </div>
        </div>

        <div class="form mt-5 mb-3">
          <form th:action="@{/createstory}" method="post" role="form" >
            
            <div class="form-group col-md-12 my-3" >
                <input type="text" class="form-control" name="story_name" id="email" placeholder="Story Name" required>
              </div>
               <div class="form-group col-md-12 my-3">
                <input type="text" class="form-control" name="img_link" id="email" placeholder="Image Link" required>
              </div>
                 <div class="form-group col-md-12 my-3">
               
                    <select name="story_category" id="email" class="form-control my-3" required>
        <option value="#" >Select Story Category</option>
        <option value="Drama">Drame</option>
        <option value="Tragedy">Tragedy</option>
        <option value="Comedy">Comedy</option>
        <option value="Sci-fi">Sci-fi</option>
        <option value="Romantic">Romantic</option>
        <option value="Horror">Horror</option>
    </select>
              </div>
     
            <div class="form-group col-md-12 my-3">

              <textarea name="story_desc" id="subject" class="form-control" cols="184" rows="7" placeholder="Description" required></textarea>
              
            </div>
         
           
            <div class="container text-center my-3"><div class="text-left my-3"><button type="submit" class="my-3">Create Story</button></div></div>
          </form>
        </div><!-- End Contact Form -->
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>